.plusContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 104px;
}

.plus {
  width: 25px;
  height: 25px;
}

.titleBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  /* identical to box height, or 106% */

  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* 3 */

  color: #FFFFFF;
  margin-right: 22px;
}

.text {
  font-family: "Golos Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */

  letter-spacing: -0.01em;

  /* 3 */

  color: #FFFFFF;
  width: 70%;
  margin-bottom: 50px;
}

.rectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.rect {
  width: 310px;
  height: 310px;

  /* 6 */

  background: #292929;
  border-radius: 18px;
  margin-bottom: 20px;
}