.style {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 106% */

  letter-spacing: -0.01em;
  text-transform: uppercase;

  /* 1 */

  color: #1C1C1C;
  margin-bottom: 75px;
  margin-top: 67px;
}